:root {
  --color-primary: #ff5555;
  --color-secondary: #6c757d;

  --color-bg-primary: #212529;
  --color-bg-secondary: #343a40;
  --color-bg-avatar: #adb5bd;
  --color-bg-content: rgba(0, 0, 0, 0.2);
  --color-bg-input: #343a40;

  --color-text-primary: #ced4da;
  --color-text-secondary: #adb5bd;
  --color-text-highlight: #ebeff3;
  --color-text-disabled: #333333;
}

[data-theme='dark'] {
  --color-primary: #ff5555;
  --color-secondary: #6c757d;
  --color-background: #ffffff;

  --color-bg-primary: #212529;
  --color-bg-secondary: #343a40;

  --color-text-primary: #ced4da;
  --color-text-secondary: #adb5bd;
  --color-text-highlight: #ebeff3;
  --color-text-disabled: #333333;
}
